<% layout("/layouts/boilerplate") %>
<div class="row">
    <div class="col-8 offset-2">
    <h3>Create a new listing</h3>

    <form action="/listing/add" method="post" novalidate class="needs-validation" enctype="multipart/form-data">
        
        <div class="mb-3"> 
            <label for="title" class="form-label">Title</label>
            <input type="text" name=listing[title] placeholder="enter title" class="form-control" required>
            <div class="valid-feedback">looks good!</div>
            <div class="invalid-feedback">invalid title!</div>
        </div>
        <div class="mb-3">
            <label for="description" class="form-label">Description</label>
            <textarea name="listing[description]" class="form-control" placeholder="enter description" required></textarea>
            <div class="invalid-feedback">enter a short description!</div>
        </div>
        <div class="mb-3">
            <label for="image" class="form-label">Upload Image</label>
            <input type="file" class="form-control" name="listing[image]" required>
        </div>
        <div class="row">

            <div class="mb-3 col-md-4">
                <label for="price" class="form-label">Price</label>
                <input type="text" class="form-control" name="listing[price]" placeholder="enter price" required>
                <div class="invalid-feedback">invalid data!</div>
            </div>
            <div class="mb-3 col-md-8">
                <label for="country" class="form-label">City</label>
                <input type="text" name="listing[country]" class="form-control" placeholder="city name" required>
                <div class="invalid-feedback">enter a valid country name</div>
            </div> 


        </div>
       
        <div class="mb-3">
            <label for="location" class="form-label">Location</label>
            <input type="text" class="form-control" name="listing[location]" placeholder="enter location" required>
            <div class="invalid-feedback">enter a valid location!</div>
        </div>
       
        <button class="btn btn-dark add-btn">add</button>
    </form>

    </div>
</div>